<div class="home-wrap">
	<div class="container">
		<div class="home-content">
			<app-sidebar></app-sidebar>			
			<div class="home-main">
				<ul class="highlight-list">
					<li class="highlight-item">
						<div class="highlight-title" style="background: #026aa7;">
							<a mat-button class="highlight-link" href="">
								<div class="name">Clone trello</div>
								<div class="info">
									<span>
										<svg width="12" height="8">
											<g fill="currentColor" fill-rule="evenodd">
												<path fill-rule="nonzero" d="M2.412 4.135c.98.845 2.104 1.473 3.595 1.473 1.465 0 2.702-.639 3.62-1.507.212-.2.401-.411.567-.624-.167-.2-.356-.4-.567-.59-.942-.842-2.131-1.29-3.627-1.29-1.482 0-2.653.468-3.597 1.35a5.763 5.763 0 0 0-.57.616c.172.195.365.388.58.573zM0 3.609S1.71.019 6 .019s6 3.43 6 3.43-1.742 3.752-6 3.752-6-3.592-6-3.592z"></path>
												<ellipse cx="6" cy="3.623" rx="1.5" ry="1.543"></ellipse>
											</g>
										</svg>
									</span>
									<span>
										<svg width="12" height="11">
											<path d="M.75 1.5a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 1 1 0-1.5H6a.75.75 0 0 1 0 1.5H.75z"
											 fill-rule="nonzero" fill="currentColor"></path>
										</svg>
									</span>
									<span>
										<div>
											<span width="12" height="12">
												<svg width="13" height="11">
													<path fill="currentColor" d="M3.631 8.177l1.555-.668.365.027c.175.012.344.019.51.019 2.554 0 4.468-1.372 4.468-2.778S8.615 2 6.06 2C3.505 2 1.592 3.371 1.592 4.777c0 .686.458 1.392 1.337 1.945l.702.44v1.015zM6.061.5c3.295 0 5.968 1.915 5.968 4.277 0 2.363-2.673 4.278-5.969 4.278-.208 0-.414-.008-.618-.023l-3.311 1.422V7.992C.884 7.207.091 6.06.091 4.777.092 2.415 2.765.5 6.062.5z"></path>
												</svg></span>
											<span> 2 </span>
										</div>
									</span>
								</div>
							</a>
							<div class="position">
								<a href="" class="position-board">314</a>:
								<div class="position-list">Doing</div>
							</div>
						</div>
						<div class="highlight-comment">
							<div class="comment-top">
								<div class="avatar">
									<img src="assets/images/avatar.png" alt="">
								</div>
								<div class="info">
									<div class="name">Sang</div>
									<div class="day">4 days ago</div>
								</div>
							</div>
							<div class="comment-content">
								<span class="name">@quyvu9</span> thấy chưa?
							</div>
							<div class="comment-reply">
								<button mat-button>
									<i class="material-icons">mode_comment</i>
									<span>Reply</span>
								</button>
							</div>
						</div>
					</li>
					<li class="highlight-item">
						<div class="highlight-title" style="background: #026aa7;">
							<a mat-button class="highlight-link" href="">
								<div class="name">Clone trello</div>
								<div class="info">
									<span>
										<svg width="12" height="8">
											<g fill="currentColor" fill-rule="evenodd">
												<path fill-rule="nonzero" d="M2.412 4.135c.98.845 2.104 1.473 3.595 1.473 1.465 0 2.702-.639 3.62-1.507.212-.2.401-.411.567-.624-.167-.2-.356-.4-.567-.59-.942-.842-2.131-1.29-3.627-1.29-1.482 0-2.653.468-3.597 1.35a5.763 5.763 0 0 0-.57.616c.172.195.365.388.58.573zM0 3.609S1.71.019 6 .019s6 3.43 6 3.43-1.742 3.752-6 3.752-6-3.592-6-3.592z"></path>
												<ellipse cx="6" cy="3.623" rx="1.5" ry="1.543"></ellipse>
											</g>
										</svg>
									</span>
									<span>
										<svg width="12" height="11">
											<path d="M.75 1.5a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 1 1 0-1.5H6a.75.75 0 0 1 0 1.5H.75z"
											 fill-rule="nonzero" fill="currentColor"></path>
										</svg>
									</span>
									<span>
										<div>
											<span width="12" height="12">
												<svg width="13" height="11">
													<path fill="currentColor" d="M3.631 8.177l1.555-.668.365.027c.175.012.344.019.51.019 2.554 0 4.468-1.372 4.468-2.778S8.615 2 6.06 2C3.505 2 1.592 3.371 1.592 4.777c0 .686.458 1.392 1.337 1.945l.702.44v1.015zM6.061.5c3.295 0 5.968 1.915 5.968 4.277 0 2.363-2.673 4.278-5.969 4.278-.208 0-.414-.008-.618-.023l-3.311 1.422V7.992C.884 7.207.091 6.06.091 4.777.092 2.415 2.765.5 6.062.5z"></path>
												</svg>
											</span>
											<span> 2 </span>
										</div>
									</span>
								</div>
							</a>
							<div class="position">
								<a href="" class="position-board">314</a>:
								<div class="position-list">Doing</div>
							</div>
						</div>
						<div class="highlight-comment">
							<div class="comment-top">
								<div class="avatar">
									<img src="assets/images/avatar.png" alt="">
								</div>
								<div class="info">
									<div class="name">Sang</div>
									<div class="day">4 days ago</div>
								</div>
							</div>
							<div class="comment-content">
								<span class="name">@sangtx</span> thấy chưa?
							</div>
							<div class="comment-reply">
								<button mat-button>
									<i class="material-icons">mode_comment</i>
									<span>Reply</span>
								</button>
							</div>
						</div>
					</li>
					<li class="highlight-item">
						<div class="highlight-title" style="background: #026aa7;">
							<a mat-button class="highlight-link" href="">
								<div class="name">Clone trello</div>
								<div class="info">
									<span>
										<svg width="12" height="8">
											<g fill="currentColor" fill-rule="evenodd">
												<path fill-rule="nonzero" d="M2.412 4.135c.98.845 2.104 1.473 3.595 1.473 1.465 0 2.702-.639 3.62-1.507.212-.2.401-.411.567-.624-.167-.2-.356-.4-.567-.59-.942-.842-2.131-1.29-3.627-1.29-1.482 0-2.653.468-3.597 1.35a5.763 5.763 0 0 0-.57.616c.172.195.365.388.58.573zM0 3.609S1.71.019 6 .019s6 3.43 6 3.43-1.742 3.752-6 3.752-6-3.592-6-3.592z"></path>
												<ellipse cx="6" cy="3.623" rx="1.5" ry="1.543"></ellipse>
											</g>
										</svg>
									</span>
									<span>
										<svg width="12" height="11">
											<path d="M.75 1.5a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 1 1 0-1.5H6a.75.75 0 0 1 0 1.5H.75z"
											 fill-rule="nonzero" fill="currentColor"></path>
										</svg>
									</span>
									<span>
										<div>
											<span width="12" height="12">
												<svg width="13" height="11">
													<path fill="currentColor" d="M3.631 8.177l1.555-.668.365.027c.175.012.344.019.51.019 2.554 0 4.468-1.372 4.468-2.778S8.615 2 6.06 2C3.505 2 1.592 3.371 1.592 4.777c0 .686.458 1.392 1.337 1.945l.702.44v1.015zM6.061.5c3.295 0 5.968 1.915 5.968 4.277 0 2.363-2.673 4.278-5.969 4.278-.208 0-.414-.008-.618-.023l-3.311 1.422V7.992C.884 7.207.091 6.06.091 4.777.092 2.415 2.765.5 6.062.5z"></path>
												</svg>
											</span>
											<span> 2 </span>
										</div>
									</span>
								</div>
							</a>
							<div class="position">
								<a href="" class="position-board">314</a>:
								<div class="position-list">Doing</div>
							</div>
						</div>
						<div class="highlight-comment">
							<div class="comment-top">
								<div class="avatar">
									<img src="assets/images/avatar.png" alt="">
								</div>
								<div class="info">
									<div class="name">Sang</div>
									<div class="day">4 days ago</div>
								</div>
							</div>
							<div class="comment-content">
								<span class="name">@quyvu9</span> thấy chưa?
							</div>
							<div class="comment-reply">
								<button mat-button>
									<i class="material-icons">mode_comment</i>
									<span>Reply</span>
								</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="home-right">
				<div class="recently">
					<div class="recently-title">
						<i class="material-icons">watch_later</i>
						<span>RECENTLY VIEWED</span>
					</div>
					<ul class="recently-list">
						<li class="recently-item">
							<a mat-button href="" class="recently-link">
								<div class="img" style="background: #ccc"></div>
								<div class="name">314</div>
							</a>
						</li>
						<li class="recently-item">
							<a mat-button href="" class="recently-link">
								<div class="img" style="background: rgb(190, 191, 194)"></div>
								<div class="name">Huawei Mage2</div>
							</a>
						</li>
						<li class="recently-item">
							<a mat-button href="" class="recently-link">
								<div class="img" style="background: rgb(197, 10, 10)"></div>
								<div class="name">eBay Support</div>
							</a>
						</li>
						<li class="recently-item">
							<a mat-button href="" class="recently-link">
								<div class="img" style="background: rgb(58, 6, 6)"></div>
								<div class="name">Database</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>