.home-wrap{    
    display: inline-block;
    width: 100%;
    float: left;
    background-color: #f8f9f9;
    padding: 50px 0 0;
    .home-content{        
        .home-main{
            float: left;
            width: 60%;
            padding: 0 50px;
            .highlight-list{
                .highlight-item{
                    background: #fff;
                    margin: 0 0 30px;       
                    .highlight-title{                        
                        padding: 10px 10px 5px;
                        border-radius: 5px 5px 0 0;
                        .position{
                            margin: 5px 0 0;
                            color: #fff;
                            .position-board{
                                font-weight: 700;
                                color: #fff;
                            }
                            .position-list{
                                display: inline-block;
                                color: #fff;
                            }
                        }
                    }  
                    .highlight-link{
                        display: inline-block;
                        background: #fff;
                        width: 100%;
                        border-radius: 5px;
                        padding: 10px;
                        text-align: left;
                        .info{
                            display: flex;
                            align-items: center;
                            margin: 5px 0 0;
                            > span{
                                margin: 0 20px 0 0;
                            }
                        }
                    }           
                }
                .highlight-comment{
                    padding: 10px;
                    box-shadow: 0px 1px 10px #ccc;
                    border-radius: 0 0 5px 5px;
                    .comment-top{
                        display: flex;
                        align-items: center;
                        .avatar{
                            display: inline-block;
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            overflow: hidden;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid #ccc;
                            img{
                                height: 100%;
                                width: 100%;
                                object-fit: cover;                               
                            }
                        }
                        .info{
                            display: inline-block;
                            margin: 0 10px;
                            > div{
                                line-height: 1.1;
                            }
                        }
                    }
                    .comment-content{
                        margin: 20px 0;
                        .name{
                            font-weight: 700;
                        }
                    }
                    .comment-reply{
                        i{
                            color: #ccc;
                            margin: 0 10px;
                        }
                        button{
                            width: 100%;
                            background: #f4f4f4;
                            border: 1px solid #eee;
                        }
                    }
                }
            }            
        }
        .home-right{
            width: 20%;
            float: left;
            .recently{
                .recently-title{
                    display: flex;
                    align-items: center;
                    margin: 0 0 20px;
                    span{
                        margin: 0 5px;
                    }
                }
                .recently-list{
                    .recently-item{    
                        margin: 0 0 10px;                    
                        .recently-link{                            
                            display: flex;
                            align-items: center;
                            .img{
                                width: 32px;
                                height: 25px;
                                display: inline-block;
                                border-radius: 5px;
                            }
                            .name{
                                display: inline-block;
                                margin: 0 10px;
                            }
                        }                        
                    }
                }
            }
        }
    }
}