<div class="boards-wrap">
    <div class="container">
        <div class="board-content">
            <app-sidebar></app-sidebar>
            <div class="board-main">
                <div class="recently-viewed">
                    <div class="recently-title">
                        <i class="material-icons">watch_later</i>
                        <span>Recently Viewed</span>
                    </div>
                    <ul class="recently-list">
                        <li class="recently-item">
                            <a mat-button class="recently-head" [routerLink]="stringUrl+1" style="background: #ccc">
                                <div class="name">314</div>
                            </a>
                        </li>
                        <li class="recently-item">
                            <a mat-button class="recently-head" [routerLink]="stringUrl+2" style="background: rgb(0, 121, 191)">
                                <div class="name">eBay Support</div>
                            </a>
                        </li>
                        <li class="recently-item">
                            <a mat-button class="recently-head" [routerLink]="stringUrl+3" style="background: rgb(0, 174, 204)">
                                <div class="name">*Tutorial Board (Start Here!)</div>
                            </a>
                        </li>
                        <li class="recently-item">
                            <a mat-button class="recently-head" [routerLink]="stringUrl+4" style="background: rgb(210, 144, 52)">
                                <div class="name">Soundcorp Magento 1</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="personal-boards recently-viewed">
                    <div class="personal-title recently-title">
                        <i class="material-icons">person</i>
                        <span>Personal Boards</span>
                    </div>
                    <ul class="personal-list">
                        <li class="personal-item">
                            <a mat-button class="personal-head recently-head" [routerLink]="stringUrl+5" style="background: #ccc">
                                <div class="name">314</div>
                            </a>
                        </li>
                        <li class="personal-item">
                            <a mat-button class="personal-head recently-head" [routerLink]="stringUrl+6" style="background: #ccc">
                                <div class="name">Personal Boards</div>
                            </a>
                        </li>
                        <li class="personal-item">
                            <a mat-button class="personal-head recently-head" [routerLink]="stringUrl+7" style="background: #ccc">
                                <div class="name">Personal Boards 2</div>
                            </a>
                        </li>
                        <li class="personal-item add-board">
                            <a (click)="createBoard()" mat-button class="personal-head recently-head"  style="background: #ccc">
                                <div class="name">Create new board...</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="checkBoard" class="popup-create-board">
        <div class="create-board-content">
            <form class="form-inline">
                <div class="form-inner">
                    <div class="form-group">
                        <input type="text" name="" id="" class="form-control add-title" placeholder="Add board title"
                            aria-describedby="helpId">
                        <small (click)="closePopup()" id="helpId" class="text-muted">X</small>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="" id="">
                            <option value="1">Private</option>
                            <option value="2">Public</option>
                        </select>
                    </div>
                </div>
                <div class="form-submit">
                    <input type="color" name="favcolor" id="favcolor" value="#f4f4f4">
                    <button type="submit" mat-button>Create Board</button>
                </div>           
            </form>
        </div>
    </div>
</div>