.boards-wrap{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    float: left;
    background-color: #f8f9f9;
    padding: 50px 0 0;
    .recently-title{
        margin: 0 10px 15px;
        display: flex;
        align-items: center;
        span{
            margin: 0 10px;
        }
    }
    .recently-head{
        display: inline-block;
        white-space: normal;
        padding: 10px;
        overflow: hidden;
        width: 100%;
        height: 100px;
        text-align: left;                       
        .name{
            font-size: 16px;
            line-height: 1.3;
            color: #fff;
            font-weight: 700;
            text-transform: capitalize;
        }
    }    
    .board-main{
        padding: 0 50px;
        width: 80%;
        float: left;
        .recently-viewed{
            display: inline-block;
            width: 100%;
            margin: 0 0 40px;            
            .recently-list{                
                display: flex;
                justify-content: space-between;
                width: 100%;
                .recently-item{
                    width: 25%;
                    padding: 0 10px;                    
                }
            }
        }
        .personal-boards{            
            .personal-list{
                .personal-item{
                    height: 100px;
                    width: 25%;
                    float: left;
                    padding: 0 10px; 
                    &.add-board{
                        .personal-head{
                            text-align: center;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            .name{
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                    }                 
                }
            }
        }
    }
    .popup-create-board{
        position: absolute;
        background: rgba(104, 121, 119, 0.9);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        z-index: 2;
        .create-board-content{
            width: auto;
            display: inline-block;
            margin: 30px 0 0;            
            .form-inline{
                display: flex;
                flex-direction: row;
                align-items: center;
                .form-inner{
                    background: #f4f4f4;
                    border-radius: 5px;
                    margin: 0 10px 0 0;
                    padding: 10px;
                    .form-group{
                        position: relative;                        
                        text-align: left;
                        .form-control{
                            margin: 0 0 10px;
                            border: 0;
                            background: none;
                        }
                        .add-title{
                            background: none;
                            border: 1px solid transparent;
                            border-radius: 5px;
                            padding: 5px 10px;
                            width: 250px;
                            &:hover, &:focus{
                                border: 1px solid #d1d1d1;
                                background: #f1f1f1;
                            }
                        }
                        .text-muted{
                            margin: 0 10px;
                            cursor: pointer;
                            padding: 9px;
                            color: #000;
                        }
                    }
                }
                .form-submit{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    button{
                        background: #026aa7;
                        margin: 10px 0 0;
                        font-weight: 700;
                        color: #ccc;
                    }
                }
            }
        }
    }
}