<div class="home-left">
	<ul>
		<li>
			<a routerLink="/boards" routerLinkActive="active"><i class="material-icons">dashboard</i><span>Boards</span></a>
		</li>
		<li>
			<a routerLink="/home" routerLinkActive="active"><i class="material-icons">waves</i><span>Home</span></a>
		</li>
	</ul>
</div>