.home-left {
    z-index: 2;
    position: relative;
    width: 20%;
    float: left;
    ul {
        li {
            margin: 0 0 5px;
            a {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 5px;
                border-radius: 5px;
                color: #000;
                font-weight: 700;
                &:hover,
                &.active {
                    background-color: #e4f0f6;
                    color: #026aa7;
                }
                span {
                    margin: 0 0 0 10px;
                }
            }
        }
    }
}