<div class="authentication">
	<!-- <form *ngIf='token == null; else show' (ngSubmit)='auth()'>
		<div class='form-group'>
			<div class="full-width">
				<input placeholder="Username" name='login' id='login' required>
			</div>
		</div>

		<div class='form-group'>
			<div class="full-width">
				<input type='password' placeholder="Password" name='password' id='password' required>
			</div>
		</div>
		<button id="submit" color="primary" type="submit" class="btn btn-success">Submit</button>
	</form>
	<ng-template #show>
		<div class="account">
			Welcome {{account}}
			<a (click)="logOut()">Log out</a>
		</div>
	</ng-template> -->
	<div class="container">
		<div class="authentication-content">
			<mat-toolbar *ngIf='token == null; else logout'>
				<span>LOGIN</span>
			</mat-toolbar>
			<ng-template #logout>
				<mat-toolbar>
					<span>LOGOUT</span>
				</mat-toolbar>
			</ng-template>
			<mat-card>
				<mat-card-content>
					<form (ngSubmit)='auth()' *ngIf='token == null; else show'>
						<mat-form-field class="full-width">
							<mat-label>Username</mat-label>
							<input matInput placeholder="Username" name='login' id='login' required>
						</mat-form-field>
						<mat-form-field class="full-width">
							<mat-label>Password</mat-label>
							<input matInput type='password' placeholder="Password" name='password' id='password' required>
						</mat-form-field>
						<mat-card-actions>
							<button id="submit" type="submit" class="btn btn-success" mat-raised-button color="primary">LOGIN</button>
						</mat-card-actions>
					</form>
					<ng-template #show>
						<div class="account">
							<a mat-button (click)="logOut()">Log out</a>
						</div>
					</ng-template>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>