.authentication{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .authentication-content{
        text-align: center;
    }
    .logo{
        img{
            width: 100px;
            border-radius: 50%;
        }
    }
    .account{
        justify-content: space-between;
        display: flex;
        align-items: center;
        a{
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 auto;
            background: lightgray;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .form-group{
            margin: 0 10px;
            label{
                margin: 0 10px;
            }
        }     
    }
}