@import './reset';
@import './mixins';
@import './variables';
@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

body{
    height: 100%;
}
.container{
    padding: 0 10px;
    width: 1140px;
    margin: 0 auto;
}