<header>
	<div class="boards">
		<a routerLink="/home" class="icon-home"><i class="material-icons">home</i></a>
		<a routerLink="/boards" class="icon-board"><i class="material-icons">dashboard</i><span>Boards</span></a>
		<div class="search">
			<input type="text">
			<span><i class="material-icons">search</i></span>
		</div>
	</div>
	<div class="logo">
		<a href=""><img src="assets/images/mta.png" alt="MTA"></a>		
	</div>
	<div class="info">
		<a href=""><i class="material-icons">add</i></a>
		<a href=""><i class="material-icons">info</i></a>
		<a href=""><i class="material-icons">notifications</i></a>
		<a href=""><span><img src="assets/images/avatar.png" alt="avatar"></span></a>
	</div>
</header>