@import '../../../sass/mixins';
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #026aa7;
    overflow: hidden;
    padding: 4px;
    z-index: 10;
    color: #fff;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        background: hsla(0,0%,100%,.3);             
        font-weight: 700;
        margin: 0 3px;
        border-radius: 4px;
        padding: 5px 7px;
        color: #fff;
        &:hover{
            background: hsla(0,0%,100%,.1);
        }            
    } 
    i{
        color: #fff;
    }
    .boards{
        display: flex;
        align-items: center;
        justify-content: center;           
        .icon-board{
            span{
                margin: 0 0 0 5px;
            }
        }    
        .search{
            position: relative;
            margin: 0 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            input{
                background: hsla(0,0%,100%,.3);
                padding: 6px 30px 6px 10px;
                border-radius: 5px;
                color: #fff;
            }
            span{                
                display: inherit;
                position: absolute;
                @include v-align;
                right: 5px;
            }
        }
    }
    .logo{
        position: absolute;
        @include v-h-align;
        a{
            background: none;
            &:hover{
                background: none;
            }
        }
    }
    .info{
        display: flex;
        a{
            &:last-child{
                padding: 0;
                background: none;
            }
            span{
                display: flex;
                align-items: center;
                border-radius: 50%;
                overflow: hidden;
                height: 100%;
                width: 100%;
            }
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;         
            }
        }
    } 
}