<div class="board-detail-wrap">
	<div class="board-detail-content">
		<div class="board-detail-head">
			<div class="head-left">
				<div class="star">
					<i class="material-icons">star_border</i>
					<span>
						<button mat-button>314</button>
					</span>
				</div>
				<div class="personal">
					<i class="material-icons">supervisor_account</i>
					<span>
						<button mat-button>Personal</button>
					</span>
				</div>
				<div class="private">
					<i class="material-icons">vpn_key</i>
					<span>
						<button mat-button>Private</button>
					</span>
				</div>
				<div class="member">
					<ul>
						<li>
							<div class="img">
								<img src="assets/images/avatar.png" alt="">
							</div>
						</li>
						<li>
							<div class="img">
								<img src="assets/images/avatar.png" alt="">
							</div>
						</li>
					</ul>
					<div class="count">
						<span>2</span>
					</div>
				</div>
				<div class="share">
					<button mat-button>
						<i class="material-icons">person_add</i>
						<span>Share</span>
					</button>
				</div>
			</div>
			<div class="head-right">

			</div>
		</div>
		<div class="board-detail-list-wrap">
			<ul class="board-detail-list">
				<li class="board-detail-item" *ngFor="let list of lists, let i = index">
					<div class="title">
						<form (ngSubmit)='updateListName(list.id, $event)'>
							<input class="name" type="text" [(ngModel)]="list.name" name='title'>
						</form>
						<span class="extra">...</span>
					</div>
					<div class="list-card">
						<ul class="highlight-list">
							<li class="highlight-item" *ngFor="let card of cards">
								<a routerLink="/card/{{card.id}}" mat-button class="highlight-link" href="" *ngIf="card.list_id == list.id">
									<a class="name">{{card.name}}</a>
									<div class="info">
										<span>
											<svg width="12" height="8">
												<g fill="currentColor" fill-rule="evenodd">
													<path fill-rule="nonzero" d="M2.412 4.135c.98.845 2.104 1.473 3.595 1.473 1.465 0 2.702-.639 3.62-1.507.212-.2.401-.411.567-.624-.167-.2-.356-.4-.567-.59-.942-.842-2.131-1.29-3.627-1.29-1.482 0-2.653.468-3.597 1.35a5.763 5.763 0 0 0-.57.616c.172.195.365.388.58.573zM0 3.609S1.71.019 6 .019s6 3.43 6 3.43-1.742 3.752-6 3.752-6-3.592-6-3.592z"></path>
													<ellipse cx="6" cy="3.623" rx="1.5" ry="1.543"></ellipse>
												</g>
											</svg>
										</span>
										<span>
											<svg width="12" height="11">
												<path d="M.75 1.5a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 0 1 0-1.5h10.5a.75.75 0 1 1 0 1.5H.75zm0 3a.75.75 0 1 1 0-1.5H6a.75.75 0 0 1 0 1.5H.75z"
												 fill-rule="nonzero" fill="currentColor"></path>
											</svg>
										</span>
										<span>
											<div>
												<span width="12" height="12">
													<svg width="13" height="11">
														<path fill="currentColor" d="M3.631 8.177l1.555-.668.365.027c.175.012.344.019.51.019 2.554 0 4.468-1.372 4.468-2.778S8.615 2 6.06 2C3.505 2 1.592 3.371 1.592 4.777c0 .686.458 1.392 1.337 1.945l.702.44v1.015zM6.061.5c3.295 0 5.968 1.915 5.968 4.277 0 2.363-2.673 4.278-5.969 4.278-.208 0-.414-.008-.618-.023l-3.311 1.422V7.992C.884 7.207.091 6.06.091 4.777.092 2.415 2.765.5 6.062.5z"></path>
													</svg></span>
												<span> 2 </span>
											</div>
										</span>
									</div>
								</a>
								<span class="icon-edit" (click)="showOption(list.id, card.id)">
									<i class="material-icons">edit</i>
								</span>
								<div class="option" id="option" *ngIf="checkOptionForList == list.id && checkOptionForCard == card.id">
									<div class="edit-name">
										<input [(ngModel)]="card.name">
										<button (click)="updateCardName(card.id, card.name, list.id)" mat-button type="submit" class="btn-success">Save</button>
									</div>
									<ul>
										<li>
											<i class="material-icons">credit_card</i>
											<span>Edit name</span>
										</li>
										<li (click)="deleteCard(card.id)">
											<i class="material-icons">delete</i>
											<span>Delete</span>
										</li>
										<li>
											<i class="material-icons">arrow_forward</i>
											<span>Move</span>
										</li>
									</ul>
									<button class="close" mat-button (click)="closeOption()">X</button>
								</div>
							</li>
						</ul>
					</div>
					<div class="add-card" id="add-card">
						<div class="add-btn" (click)="toggleAdd($event, list.id)">
							<div class="inner" *ngIf="checkButton">
								<i class="material-icons">add</i>
								<span>Add card</span>
							</div>
						</div>
						<div class="add-form" id="add-form" *ngIf="checkForm == list.id">
							<form (ngSubmit)='addCard(list.id, $event)'>
								<div class="form-group">
									<input type="text" class="form-control" name='addCard' required>
								</div>
								<div class="actions">
									<button type="submit" class="btn-success">Submit</button>
									<span class="close" (click)="closeForm()"><i class="material-icons">close</i></span>
								</div>
							</form>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>