.board-detail-wrap {
    padding: 10px 5px 0;
    .board-detail-head {
        .head-left {
            display: flex;
            align-items: center;
            >div {
                position: relative;
                display: flex;
                align-items: center;
                margin: 0 10px 0 0;
                &:after {
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 20px;
                    background: #ccc;
                }
            }
            button {
                margin: 0 10px;
            }
            .star {
                button {
                    font-size: 20px;
                    font-weight: 700;
                }
            }
            .member {
                display: flex;
                flex-direction: row;
                align-items: center;
                ul {
                    display: flex;
                    li {
                        margin: 0 1px;
                        .img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            img {
                                border-radius: 50%;
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                .count {
                    margin: 0 10px 0 1px;
                    span {
                        width: 30px;
                        height: 30px;
                        background: #ccc;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        font-weight: 700;
                    }
                }
            }
            .share {
                &:after {
                    display: none;
                }
                button {
                    background: #f4f4f4;
                    span {
                        margin: 0 0 0 5px;
                    }
                }
            }
        }
    }
    .board-detail-list-wrap {
        display: flex;
        margin: 20px 0;
        height: 100%;
        overflow: auto;
        white-space: nowrap;
        /* width */
        &::-webkit-scrollbar {
            width: 20px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #cbdbf0;
            border-radius: 10px;
        }
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #cbdbf0;
        }
        .board-detail-list {
            align-items: start;
            display: flex;
            height: 100%;
            .board-detail-item {
                display: inline-block;
                width: 314px;
                background: rgb(203, 219, 240);
                border-radius: 5px;
                padding: 10px;
                margin: 0 5px 20px;
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 0 10px;
                    form {
                        width: 100%;
                        margin: 0 10px 0 0;
                    }
                    .name {
                        width: 100%;
                        font-size: 16px;
                        font-weight: 700;
                        background: transparent;
                    }
                }
                .list-card {
                    .highlight-list {
                        .highlight-item {
                            margin: 0 0 10px;
                            position: relative;
                            .highlight-link {
                                display: inline-block;
                                background: #fff;
                                width: 100%;
                                border-radius: 5px;
                                padding: 10px;
                                text-align: left;
                                
                                .info {
                                    display: flex;
                                    align-items: center;
                                    margin: 5px 0 0;
                                    >span {
                                        margin: 0 20px 0 0;
                                    }
                                }                                
                            }
                            .icon-edit{
                                display: none;
                                position: absolute;
                                top: 50%;
                                right: 10px;
                                z-index: 2;
                                transform: translateY(-50%);
                                background: #f4f4f4;
                                border-radius: 3px;
                                padding: 5px;                               
                            }
                            &:hover {
                                .icon-edit {
                                    cursor: pointer;
                                    display: flex;
                                }
                            }
                            .option {
                                position: absolute;
                                z-index: 2;
                                width: 80%;
                                padding: 20px;
                                top: 0;
                                left: 100%;
                                background: aliceblue;
                                .edit-name{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 0 0 10px;
                                    input{
                                        height: 30px;
                                        width: 100%;
                                        padding: 10px;
                                    }
                                    .btn-success{
                                        background: cornflowerblue;
                                        min-width: auto;
                                        padding: 0 10px;
                                        margin: 0 0 0 10px;
                                        line-height: 2.2;
                                    }
                                }
                                ul {
                                    li{
                                        cursor: pointer;
                                        display: flex;
                                        align-items: center;
                                        background: #cbdbf0;
                                        margin: 0 0 10px;
                                        border-radius: 3px;
                                        padding: 7px;
                                        i{
                                            margin: 0 5px 0 0;
                                            font-size: 20px;
                                        }
                                    }
                                }
                                .close {
                                    width: 100%;
                                    background: #cbdbf0;
                                }
                            }
                        }
                    }
                }
                .add-card {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .add-btn {                      
                        width: 100%;
                        .inner{
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            &:hover {
                                cursor: pointer;
                                background: rgba(255, 255, 255, 0.3);
                                border-radius: 5px;
                            }
                            i {
                                font-size: 18px;
                                font-weight: 700;
                                line-height: 1.4;
                                margin: 0 5px 0 0;
                            }
                        }                        
                    }
                    .add-form {
                        width: 100%;
                        form {
                            .form-group {
                                input {
                                    height: 30px;
                                    width: 100%;
                                    padding: 0 10px;
                                    border-radius: 3px;
                                }
                            }
                            .actions {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin: 10px 0 0;
                                .btn-success {
                                    cursor: pointer;
                                    border-radius: 5px;
                                    background: #026aa7;
                                    color: #fff;
                                    padding: 5px 10px;
                                    outline: 0;
                                }
                                .close {
                                    display: flex;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}