<div class="card-wrap">
	<div class="container">
		<div class="card-content">
			<div class="infomation">
				<div class="head">
					<div class="title">
						<i class="material-icons">subtitles</i>
						<input type="text" value="test">
					</div>
				</div>
				<div class="description">
					<div class="title">
						<i class="material-icons">description</i>
						<span class="name">description</span>
						<span class="edit">Edit</span>
					</div>
					<div class="content">
						test
						sang
						<br>
						sang
					</div>
				</div>
				<div class="comment">
					<div class="title">
						<i class="material-icons">comment</i>
						<span>Add comment</span>
					</div>
					<textarea name="" id="comment" [(ngModel)]="commentValue.content" cols="30" rows="3" placeholder="Write a comment..."></textarea>
					<button (click)="saveComment(commentValue.content)" mat-button>Save</button>
					<div class="comment-content">
						<ul class="comment-list">
							<li class="comment-item" *ngFor="let comment of commentList">
								<div class="inner">
									<div class="img">
										<img src="assets/images/avatar.png" alt="">
									</div>
									<div class="info">
										<div class="top">
											<div class="name">sang</div>
											<div class="date">21 minutes ago</div>
										</div>
										<div class="message">
											{{comment.content}}
										</div>
										<div class="action">
											<button class="edit">Edit</button>
											<button class="delete">Delete</button>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="actions">
				sa
			</div>
		</div>
	</div>
</div>