.card-wrap{
    .card-content{
        display: inline-block;
        width: 100%;
        padding: 50px 30px 0;
        background: #f8f8f8;
        .infomation{
            width: 80%;
            float: left;
            padding: 0 30px 0 0;
        }
        .actions{
            float: right;
            width: 20%;
        }
        .title{
            display: flex;
            align-items: center;
            margin: 0 0 10px;
            i {
                margin: 0 10px 0 0;
            }
            input, span{
                background: transparent;
                font-weight: 700;
            }
            input{
                font-size: 25px;
                width: 100%;
            }
        }
        .head{
            margin: 0 0 30px;
        }
        .description{
            margin: 0 0 30px;
            .name{
                font-weight: 700;
                margin: 0 10px 0 0;
            }
            .edit{
                text-decoration: underline;
                cursor: pointer;
                font-weight: 400;
            }
        }
        .comment{
            margin: 0 0 30px;
            textarea{
                padding: 20px;
                width: 100%;
            }
            button{
                background: cornflowerblue;
                display: block;
                margin: 10px 0 0;
            }
            .comment-content{
                .comment-list{
                    margin: 30px 0 0;
                    .comment-item{
                        display: inline-block;
                        width: 100%;
                        border-bottom: 1px solid #ccc;
                        padding: 0 0 20px;
                        .inner{
                            .img{
                                width: 35px;
                                height: 35px;
                                float: left;
                                img{
                                    border-radius: 50%;
                                    object-fit: cover;
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                            .info {
                                float: right;
                                width: calc(100% - 40px);
                                .top {
                                    display: inline-block;
                                    width: 100%;
                                    .name {
                                        font-weight: 700;
                                        float: left;
                                    }
                                    .date {
                                        float: right;
                                    }
                                }
                                .message{
                                    padding: 10px;
                                    border: 1px solid #ccc;
                                    border-radius: 5px;
                                    background: #fff;
                                }
                                .action {
                                    button {
                                        margin-right: 10px;
                                        padding: 0;
                                        cursor: pointer;
                                        background: none;
                                        outline: 0;
                                        border: 0;
                                        text-decoration: underline;
                                        float: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}